    <div id="itounity">
    </div>
    <div id="ifromunity">
    </div>
    <div id="toparent">
    </div>
    <script type="text/javascript" language="javascript">
        function SaySomethingToUnity(s) {
            document.getElementById("itounity").innerHTML = "SaySomethingToUnity: " + event.data;
            u.getUnity().SendMessage("GameController", "MyFunction", s);
        }

        function receiveMessage(event) {
            document.getElementById("ifromunity").innerHTML = "Receiveing message: " + event.data;
            SaySomethingToUnity(event.data);
        }

        addEventListener("message", receiveMessage, false);
        function sendMessage(s) {
            document.getElementById("toparent").innerHTML = "Game sent: " + s;
            parent.postMessage(s, '*');
        }
    </script>
    <button onclick="SaySomethingToUnity( );">send to game</button>
    <button onclick="sendMessage();">send up</button>	